body, div, td {
	border: 0;
    margin: 0;
	padding: 0;
	font-family: "Google Sans";
}

.tooltip {
	padding: 5;
	font-size: 14;
}
.tooltip .timestamp {
	font-weight: bold;
}
.tooltip .alt_units {
	font-size: 10;
}	

#chart_errors {
	position: absolute;
	top: 200;
	left: 0;
	width: 100%;
	font-size: 18;
	color: red;
	text-align: center;
}	

#speed_unit {
	font-family: "Google Sans";
	font-size: 12;
	float: left;
}	

/* sized to fit on 720p screen: 1280x720 */
#charts {
	width: 100%;
}
#chart1 {
	height: 330;
    width: 50%; 
	float: left;
}
#chart2 {
	height: 330;
    width: 50%; 
	float: right;
}
#chart3 {
	height: 330;
    width: 100%;  	
}
#chart4 {
}
#footer {
	margin: 10;
	font-size: 12;
	height: 24;
	text-align: center;
}
#clock {
	float: right;
}
