body, div, td {
	border: 0;
    margin: 0;
	padding: 0;
	font-family: "Google Sans";
}

.tooltip {
	padding: 5;
	font-size: 14;
}
.tooltip .timestamp {
	font-weight: bold;
}
.tooltip .alt_units {
	font-size: 10;
}	

.chart_title {
	font-size: 18;
	font-weight: bold;
}

#chart_errors {
	position: absolute;
	top: 200;
	left: 0;
	width: 100%;
	font-size: 18;
	color: red;
	text-align: center;
}	

#speed_unit {
	font-family: "Google Sans";
	font-size: 12;
	float: left;
}	

/* sized to fit on 720p screen: 1280x720 */
#chart1_area {
	height: 348;	
	width: 1280; 
}
#chart1_title {
	position: absolute;
	top: 15; 
	left: 40;
}

#chart2_area {
	height: 348;	
	width: 512; 
}
#chart2_title {
	position: absolute;
	top: 363; 
	left: 40;
}

#chart3 {
/*	background-color: yellow;*/
	position: fixed;
	top: 348; 
	left: 512;
}
#chart3_area {
/*	background-color: pink;*/
	height: 348; 
	width: 384;
}
#chart3_title {
/*	background-color: red;*/
	position: absolute;
	top: 15; 
	left: 40;
}

#chart4 {
/*	background-color: green;*/
	position: fixed;
	top: 348; 
	right: 0;
}
#chart4_area {
/*	background-color: blue;*/
	height: 348;
	width: 384;
}
#chart4_title {
/*	background-color: grey;*/
	position: absolute;
	top: 15; 
	left: 5;
}

#footer {
/*	background-color: green;*/
	margin-left: 8;
	margin-right: 8;
	height: 24;	
	font-size: 12;
	text-align: center;
}

#clock {
	float: right;
}
