body, div, td {
	border: 0;
    margin: 0;
	padding: 0;
	font-family: "Google Sans";
}

.tooltip {
	padding: 5;
	font-size: 14;
}
.tooltip .timestamp {
	font-weight: bold;
}
.tooltip .alt_units {
	font-size: 10;
}	

#chart_errors {
	position: absolute;
	top: 200;
	left: 0;
	width: 100%;
	font-size: 18;
	color: red;
	text-align: center;
}	

#speed_unit {
	font-family: "Google Sans";
	font-size: 12;
	float: left;
}	

/* sized to fit on 720p screen: 1280x720 */
#chart1 {
	width: 50%; 
	height: 348;	
}
#chart2 {
	position: absolute;
	top: 0; 
	left: 50%;
	right: 0; 
	bottom: 348; 
}
#chart3 {
	width: 50%; 
	height: 348;	
}
#chart4 {
	position: absolute; 
	top: 348; 
	left: 50%; 
	right: 0; 
	bottom: 0; 
}
#footer {
	margin-left: 8;
	margin-right: 8;
	height: 24;	
	font-size: 12;
	text-align: center;
}
#clock {
	float: right;
}
